h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 20px;
}